h1#titulo{
    font: bold 45pt arial;
}

#titulo span{
    color: #4a86e8;
}

h1#dsg_titulo{
    font: bold 20pt arial;
    color: #2a6bd4;
}

p#oqedsg{
    font: normal 10pt arial;
}

p#partici{
    font: normal 10pt arial;
}

#partici span{
    color: #00470a;
}

#btn_projetos, #btn_sobre{
    width: 80px;
    height: 40px;
    cursor:pointer;
}


#txt_principais{
    color: rgb(0, 0, 0);
    font: normal 10pt arial;
}

#conteudo_home{
    font: normal 10pt arial;
    color: #1148a0;
}
#img1{
    width: 300px;

}
#p_jogo{
    font: normal 10pt arial;
    color: black;
}
